html, body {
    height: 100%;
    color: #333;
}

#login_form {
    text-align: center;
    margin-top: 20px;
}

input[type=text] {
    padding: 0.5em 1.5em;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 2em;
    font-size: 1em;
}

input[type=submit] {
    padding: 0.5em 1.5em;
    background-color: #217AC9;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 2em;
    font-size: 1em;
}

#map {
    height: 100%;
}

.leaflet-container {
    cursor: crosshair;
    background-color: #000;
}

.progress {
    height: 0.3em;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.progress > svg {
    height: 100%;
    display: block;
}

.info {
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.4em;
    padding: 10px;
}

#game_rules {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -253px;
    width: 500px;
}

.city {
    color: #E81C4F;
}

.score {
    color: #E81C4F;
}

.results {
    text-align: center;
}

#leaderboard {
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 0%;
    margin-left: -253px;
    padding: 0px;
    cursor: pointer;
    width: 460px;
}

#leaderboard h1 {
    font-size: 1em;
    padding: 10px;
}

#user_rank {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

#top_ten {
    display: none;
}

table {
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

th {
    background-color: #217AC9;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 1em 1em;
    text-align: left;
}

tbody tr.user_score {
    background-color: rgba(50, 98, 149, .3);
    color: #fff;
    font-weight: bold;
}

@media (max-width: 560px), (max-height: 404px) {

    #game_rules {
        left: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #leaderboard {
        left: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    .github_ribbon {
        display: none;
    }

    .leaflet-control-zoom {
        display: none;
    }

    #legend {
        display: none;
    }

    .info {
        font-size: 1.1em;
    }

}