body {
    margin: 0 auto;
    max-width: 60em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
}

h2,
strong {
    color: #333;
}