<!DOCTYPE html>
<html lang="en">

<head>
    <link href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel="stylesheet"/>
    <link href="/static/css/map.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
        var MAPBOX_ID = '{{ MAPBOX_ID }}';
        var MAPBOX_TOKEN = '{{ MAPBOX_TOKEN }}';
    </script>
    <script src="/static/js/map.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<div id="map"></div>

</body>
